{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' with {'zalozka': 2} %}
    <div class="container">
        <h1 class="text-center">Pracovníci</h1>
    </div>

{% endblock %}
