{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Přidat/upravit pracovníka{% endblock %}

{% block body %}
	{% include 'menu.html.twig' with {'zalozka': 3} %}
    <div class="container">
        <div class="border-bottom pb-1 mt-4 mb-3">
            <h1 class="text-center">Přidat/upravit pracovníka</h1>
        </div>
		{{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}