{% extends 'base.html.twig' %}

{% block title %}Přidat/upravit pracovníka{% endblock %}

{% block body %}
	{% include 'menu.html.twig' with {'zalozka': 3} %}
    <div class="container">
        <div class="border-bottom pb-1 mt-4 mb-3">
            <h1 class="text-center">Seznam pracovníků</h1>
        </div>

        {{ grid_service.render(grid)|raw }}
    </div>
{% endblock %}