{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' with {'zalozka': 11} %}
<div class="container">
    <h1>Vytvoření nové lokace</h1>

    {{ form_start(form) }}
    <div style="width: 800px">
        {{ form_widget(form) }}
    </div>
    <input class="btn btn-primary" type="submit" value="Vytvořit" />
    {{ form_end(form) }}
{% endblock %}
